<div class="wrapper" >
    <div  fxLayout="row" fxLayoutAlign="space-between"  >
        <h1>Edit  Screen</h1> 
        <div>
        <button   style="margin-right: 1rem" (click)="back()"   mat-raised-button color="primary">Back</button>
        <button  #saveBtn  style="margin-right: 1rem"   mat-raised-button color="primary">Save</button>
        <button  #resetBtn   mat-raised-button color="primary">Clear template</button>
        </div>
    </div>
    <mat-divider></mat-divider> 
    <app-palette ></app-palette>
</div>












